<div id="competition">
    <div class="competitionWrapper">
        <header>
            <div class="logo">
                <img src="/data/events/{{id}}.png" alt="{{label}}">
            </div>
            <div class="infos">
                <h1>{{label}}</h1>
            </div>
        </header>
        <div class="teams">
            <h2>Les équipes</h2>
            <div class="teamsWrapper">
                {{#each teams}}
                    <a href="/teams/{{id}}" class="team">
                        <div class="logo"><img src="/data/teams/{{id}}.png"></div>
                        <div class="name">{{name}}</div>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>