<div id="competition">
    <div class="competitionWrapper">
        <header>
            <aside>
                <div class="logo"><img src="/data/events/{{id}}.png" alt="{{label}}"></div>
                <dl>
                    <dt>{{t 'country' 'app.competition.infos' 'Pays'}}</dt>
                    <dd>{{countryBlock country}}</dd>
                    <dt>{{t 'startDate' 'app.competition.infos' 'Début'}}</dt>
                    <dd>{{relativeDate startDate 'dddd D MMMM YYYY'}}</dd>
                    <dt>{{t 'endDate' 'app.competition.infos' 'Fin'}}</dt>
                    <dd>{{relativeDate endDate 'dddd D MMMM YYYY'}}</dd>
                    <dt>{{t 'gender' 'app.competition.infos' 'Genre'}}</dt>
                    <dd>{{t gender 'const'}}</dd>
                </dl>
            </aside>
            <div class="infos">
                <h1>{{label}}</h1>
                <p class="date">
                    {{t 'from' 'app.competition.dateRange' 'Du'}} <span>{{relativeDate startDate 'dddd D MMMM YYYY'}}</span>
                    {{t 'from' 'app.competition.dateRange' 'Au'}}
                    <span>{{relativeDate endDate 'dddd D MMMM YYYY'}}</span></p>
                <div class="rankings">
                    {{#each phases}}
                        <div class="phase">
                            <h3>{{t format 'const'}} <em>({{t type 'const'}})</em></h3>
                            {{#ifEquals format 'TPSAR'}}
                                {{regularSeasonRankings this}}
                            {{/ifEquals}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </header>
        <div class="ad center">
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=publicit%C3%A9&w=728&h=120" alt="pub">
        </div>
        {{#switch type}}
            {{#case "TECOM"}}{{> cupCalendar }}{{/case}}
            {{#case "TESIM"}}{{> championshipCalendar }}{{/case}}
        {{/switch}}
        <div class="teams">
            <h2>Les équipes</h2>
            {{#if groupTeamsByCountry}}
                <div class="navSelect">
                    <div class="selected">
                        <img src="/img/flags/flags_un/32/TUR.png" alt="TUR">
                        <span class="label">TUR</span>
                    </div>
                    <ul class="options">
                        {{#each teamCountries}}
                            <li>
                                <a href="#" data-param="country" data-value="{{this}}">
                                    <img src="/data/flags/flags_un/32/{{this}}.png" alt="{{this}}">
                                    {{this}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
            {{#if groupTeamsByCountry}}
                {{#group teams by='country'}}
                    <div class="country" data-value="{{value}}">
                        <div class="teamsWrapper">
                            {{#each items}}
                                <a href="/teams/{{id}}" class="team">
                                    <div class="logo"><img src="/data/teams/logos/{{id}}.png"></div>
                                    <div class="name">{{name}}</div>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                {{/group}}
            {{else}}
                <div class="teamsWrapper">
                    {{#each teams}}
                        <a href="/teams/{{id}}" class="team">
                            <div class="logo"><img src="/data/teams/logos/{{id}}.png"></div>
                            <div class="name">{{name}}</div>
                        </a>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
</div>