<div id="competition">
    <div class="competitionWrapper">
        <header>
            <h1>{{label}}</h1>
            <div class="logo">
                <img src="/data/events/{{id}}.png" alt="{{label}}">
            </div>
            {{#ifEquals country 'ZZZ'}}
            {{else}}
                {{countryBlock country}}
            {{/ifEquals}}
        </header>
        {{#switch type}}
            {{#case "TECOM"}}{{> cupCalendar }}{{/case}}
            {{#case "TESIM"}}{{> championshipCalendar }}{{/case}}
        {{/switch}}
        <div class="pageWrapper" id="rankings">
            {{#each phases}}

                {{#ifEquals format 'TPSAR'}}
                    <div class="wrapper">
                        <div class="ranking">
                            <h2>{{t 'title' 'app.competition.ranking' 'Classement'}}</h2>
                            {{regularSeasonRankings this}}

                        </div>
                        <div class="topScorers">
                            <h2>{{t 'title' 'app.competition.topScorers' 'Meilleurs buteurs'}}</h2>
                            <div class="scroll" data-height-of="#competition table.rankings">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>{{t 'pos' 'app.competition.topScorers.table.header' '#'}}</th>
                                        <th>{{t 'player' 'app.competition.topScorers.table.header' 'Joueur'}}</th>
                                        <!--<th>{{t 'team' 'app.competition.topScorers.table.header' 'Équipe'}}</th>-->
                                        <th>{{t 'goals' 'app.competition.topScorers.table.header' 'Buts'}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each topScorers}}
                                        <tr>
                                            <td>{{pos}}</td>
                                            <td><img class="face" src="/data/players/faceshots/{{playerId}}.jpg"
                                                     alt="{{name}}">{{name}}</td>
                                            <!--<td>{{teamCondensed teamId}}</td>-->
                                            <td class="fontFigures">{{goals}}</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {{/ifEquals}}
            {{/each}}
        </div>
        <div class="teams">
            <h2>{{t 'title' 'app.competition.teams' 'Les équipes'}}</h2>
            <div class="pageWrapper">
                <p class="filter" data-target="#teamsList">
                    <input type="text" size="26"
                           placeholder="{{t 'placeholder' 'app.competition.filter.teams' 'Rechercher une équipe'}}">
                </p>
            </div>
            <div class="teamsWrapper" id="teamsList">
                {{#each teams}}
                    <a href="/teams/{{id}}" class="team" data-search="{{upper name}}">
                        <div class="logo"><img src="/data/teams/logos/{{id}}.png"></div>
                        <div class="name">{{name}}</div>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>