<div id="competition">
    <div class="competitionWrapper">
        <header>
            <aside>
                <div class="logo"><img src="/data/events/{{id}}.png" alt="{{label}}"></div>
                <dl>
                    <dt>Pays</dt>
                    <dd>{{countryBlock country}}</dd>
                    <dt>Début</dt>
                    <dd>{{relativeDate startDate 'dddd D MMMM YYYY'}}</dd>
                    <dt>Fin</dt>
                    <dd>{{relativeDate endDate 'dddd D MMMM YYYY'}}</dd>
                    <dt>Genre</dt>
                    <dd>{{t gender 'const'}}</dd>
                </dl>
            </aside>
            <div class="infos">
                <h1>{{label}}</h1>
                <p class="date">Du <span>{{relativeDate startDate 'dddd D MMMM YYYY'}}</span> au <span>{{relativeDate endDate 'dddd D MMMM YYYY'}}</span></p>

                <div class="rankings">
                    {{#each phases}}
                        <div class="phase">
                            <h3>{{t format 'const'}} <em>({{t type 'const'}})</em></h3>
                            {{#if rankings}}
                                <table>
                                    <thead>
                                    <tr>
                                        <th><abbr title="Place">#</abbr></th>
                                        <th class="teamName">Équipe</th>
                                        <th><abbr title="Points">Pts</abbr></th>
                                        <th><abbr title="Matches joués">J</abbr></th>
                                        <th><abbr title="Matches gagnés">G</abbr></th>
                                        <th><abbr title="Matches nuls">N</abbr></th>
                                        <th><abbr title="Matches perdus">P</abbr></th>
                                        <th><abbr title="Buts marqués">BP</abbr></th>
                                        <th><abbr title="Buts encaissés">BC</abbr></th>
                                        <th><abbr title="Différence de buts">D</abbr></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each rankings}}
                                        <tr>
                                            <td>{{CCPOS}}</td>
                                            <td class="teamName">{{teamCondensed teamId}}</td>
                                            <td>{{CCPTS}}</td>
                                            <td>{{CCJOU}}</td>
                                            <td>{{CCGAG}}</td>
                                            <td>{{CCNUL}}</td>
                                            <td>{{CCPER}}</td>
                                            <td>{{CC_BP}}</td>
                                            <td>{{CC_BC}}</td>
                                            <td>{{CCDIF}}</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </header>
        {{#switch type}}
            {{#case "TECOM"}}{{> cupCalendar }}{{/case}}
            {{#case "TESIM"}}{{> championshipCalendar }}{{/case}}
        {{/switch}}
        <div class="teams">
            <h2>Les équipes</h2>
            {{#if groupTeamsByCountry}}
                <div class="navSelect">
                    <div class="selected">
                        <img src="/img/flags/flags_un/32/TUR.png" alt="TUR">
                        <span class="label">TUR</span>
                    </div>
                    <ul class="options">
                        {{#each teamCountries}}
                            <li>
                                <a href="#" data-param="country" data-value="{{this}}">
                                    <img src="/img/flags/flags_un/32/{{this}}.png" alt="{{this}}">
                                    {{this}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
            {{#if groupTeamsByCountry}}
                {{#group teams by='country'}}
                    <div class="country" data-value="{{value}}">
                        <div class="teamsWrapper">
                            {{#each items}}
                                <a href="/teams/{{id}}" class="team">
                                    <div class="logo"><img src="/data/teams/{{id}}.png"></div>
                                    <div class="name">{{name}}</div>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                {{/group}}
            {{else}}
                <div class="teamsWrapper">
                    {{#each teams}}
                        <a href="/teams/{{id}}" class="team">
                            <div class="logo"><img src="/data/teams/{{id}}.png"></div>
                            <div class="name">{{name}}</div>
                        </a>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
</div>