<header>
    <aside>
        <div class="logo">
            <img src="/data/players/faceshots/{{id}}.jpg" alt="{{name}}" width="200">
        </div>
        <dl>
            <dt>{{t 'age' 'app.player.infos' 'Âge'}}</dt>
            <dd>{{age birthDate 'YYYYMMDD'}}</dd>

            {{#if height}}
                <dt>{{t 'height' 'app.player.infos' 'Taille'}}</dt>
                <dd>{{formatHeight height}}</dd>
            {{/if}}

            {{#if weight}}
                <dt>{{t 'poids' 'app.player.infos' 'Poids'}}</dt>
                <dd>{{formatWeight weight}}</dd>
            {{/if}}

            {{#ifEquals birthCountry representCountry}}
                <dt>{{t 'country' 'app.player.infos' 'Nationalité'}}</dt>
                <dd>{{countryBlock birthCountry}}</dd>
            {{else}}
                <dt>{{t 'birthCountry' 'app.player.infos' 'Pays d\'origine'}}</dt>
                <dd>{{countryBlock birthCountry}}</dd>
                <dt>{{t 'representCountry' 'app.player.infos' 'Représente'}}</dt>
                <dd>{{countryBlock representCountry}}</dd>
            {{/ifEquals}}
        </dl>
    </aside>
    <div class="infos">
        <h1>{{fullname}}</h1>
        <div class="teams">
            {{#each teams}}
                <div class="team">
                    <h3>{{name}}</h3>
                    <div class="logo">
                        <img src="/data/teams/logos/{{id}}.png" alt="{{name}}">
                    </div>
                    {{countryBlock country}}
                </div>
            {{/each}}
        </div>
    </div>
</header>