<header>
    <aside>
        <div class="logo">
            <img src="/data/players/{{id}}.jpg" alt="{{name}}" width="200">
        </div>
        <dl>
            <dt>Âge</dt>
            <dd>{{age birthDate 'YYYYMMDD'}}</dd>
            {{#if height}}
                <dt>Taille</dt>
                <dd>{{height}} m</dd>
            {{/if}}
            {{#if weight}}
                <dt>Poids</dt>
                <dd>{{weight}} Kg</dd>
            {{/if}}
            {{#ifEquals birthCountry representCountry}}
                <dt>Nationalité</dt>
                <dd>{{countryBlock birthCountry}}</dd>
            {{else}}
                <dt>Originaire de</dt>
                <dd>{{countryBlock birthCountry}}</dd>
                <dt>Représente</dt>
                <dd>{{countryBlock representCountry}}</dd>
            {{/ifEquals}}
        </dl>
    </aside>
    <div class="infos">
        <h1>{{fullname}}</h1>
        <div class="teams">
            {{#each teams}}
                <div class="team">
                    <h3>{{name}}</h3>
                    <div class="logo">
                        <img src="/data/teams/logos/{{id}}.png" alt="{{name}}">
                    </div>
                    {{countryBlock country}}
                </div>
            {{/each}}
        </div>
    </div>
</header>