<section id="todaysMatches">
    <h2>Matches du jour</h2>
    <div class="highlighted matches">
        {{#each todaysMatches.highlight}}
            {{> liveMatch }}
        {{/each}}
    </div>
    <div class="other matches">
        {{#group todaysMatches.normal by='competition'}}
            <div class="competition">
                <h5>{{competitionName value}}</h5>
                <ul>
                    {{#each items}}
                        <li>
                            {{#ifEquals status 'EMNCO'}}
                                {{> upcomingMatch }}
                            {{else}}
                                {{> pastMatch }}
                            {{/ifEquals}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/group}}

    </div>
</section>
{{#if upcomingDateList.length}}
    <section id="upcomingMatches">
        <h2>Matches à venir</h2>
        <div class="tabs" id="upcomingMatchesTabs">
            <nav class="sectionNavbar">
                <div class="wrapper">
                    <button class="prev-group">⇤</button>
                    <button class="prev">←</button>
                    <p>
                        {{#each upcomingDateList}}
                            <a class="{{className}}" href="#" data-param="upcomingDate" data-value="{{date}}">
                                {{relativeDate date}}
                            </a>
                        {{/each}}
                    </p>
                    <button class="next">→</button>
                    <button class="next-group">⇥</button>
                </div>
            </nav>
            <div class="competitions"></div>
        </div>
    </section>
{{/if}}
{{#if pastDateList.length}}
    <section id="finishedMatches">
        <h2>Matches Terminés</h2>
        <div class="tabs" id="pastMatchesTabs">
            <nav class="sectionNavbar">
                <div class="wrapper">
                    <button class="prev-group">⇤</button>
                    <button class="prev">←</button>
                    <p>
                        {{#each pastDateList}}
                            <a class="{{className}}" href="#" data-param="pastDate"
                               data-value="{{date}}">{{relativeDate date}}</a>
                        {{/each}}
                    </p>
                    <button class="next">→</button>
                    <button class="next-group">⇥</button>
                </div>
            </nav>
            <div class="competitions"></div>
        </div>
    </section>
{{/if}}
<div style="height: 400px"></div>