<header>
    <div class="content">
        <h1>{{name}}</h1>
        <div class="logo">
            <img src="/data/teams/logos/{{id}}.png" alt="{{label}}">
        </div>
        {{#ifEquals type 'CENAT'}}
        {{else}}
            {{countryBlock country}}
        {{/ifEquals}}
    </div>
</header>
<div class="tabs">
    <nav class="sectionNavbar">
        <div class="wrapper">
            <p>
                {{#each competitions as |competition competitionId|}}
                    {{#if competition.staff}}
                        <a class="competition {{#if competition.isCurrent}}current{{/if}}" href="#"
                           data-param="competition"
                           data-value="{{competitionId}}">
                            {{competition.label}}
                        </a>
                    {{/if}}
                {{/each}}
            </p>
        </div>
    </nav>
    <div class="pageWrapper">
        {{#each competitions as |competition competitionId|}}
            <div class="competition tab" data-competition="{{competitionId}}">
                <div class="staff">
                    <h2>{{t 'staff.title' 'app.team' 'Staff'}}</h2>
                    <div class="wrapper">
                        {{#group competition.staff by="position"}}
                            <div class="position">
                                <h3>{{t value 'const'}}</h3>
                                {{#each items}}
                                    <a class="member" href="/players/{{id}}">
                                        {{> faceshot }}
                                        <span class="name">{{fullname}}</span>
                                    </a>
                                {{/each}}
                            </div>
                        {{/group}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>