<header>
    <div class="content">
        <h1>{{name}}</h1>
        <div class="logo">
            <img src="/data/teams/logos/{{id}}.png" alt="{{label}}">
        </div>
        {{#ifEquals type 'CENAT'}}
        {{else}}
            {{countryBlock country}}
        {{/ifEquals}}
    </div>
</header>
{{#if staff}}
    <div class="pageWrapper">
        <div class="players">
            <h2>Effectif</h2>
            <div class="wrapper">
                {{#group staff by="position"}}
                    <div class="position">
                        <h3>{{t value 'const'}}</h3>
                        {{#each items}}
                            <a class="member" href="/players/{{id}}">
                                {{> faceshot }}
                                <span class="name">{{fullname}}</span>
                            </a>
                        {{/each}}
                    </div>
                {{/group}}
            </div>
        </div>
    </div>
{{/if}}
<div class="matches">
    <h2>Matches</h2>
    <div class="competitionWrapper">
        {{#each competitions}}
            <article class="competition pastMatches">
                {{> scoreboardCompetitionHeader }}
                <div class="matchesWrapper">
                    <ul>
                        {{#each matches}}
                            <li>
                                {{#ifEquals status "EMNCO"}}
                                    {{> upcomingMatch }}
                                {{else}}
                                    {{> pastMatch }}
                                {{/ifEquals}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </article>
        {{/each}}
    </div>
</div>