{{!-- @partial liveMatchTeam --}}
<div class="cards">
    <span class="card yellow fontFigures">{{team.yellowCards}}0</span>
    <span class="card red fontFigures">{{team.redCards}}1</span>
</div>
<div class="logoAndName">
    <div class="logoWrapper">
        <img src="{{team.logo}}http://bdsports.afp.com/spa-xc/images/team/3432.png" alt="logo {{team.name}}">
    </div>
    <span class="name">{{team.name}} Team Name</span>
</div>
<span class="goals fontFigures">{{team.goals}}1</span>
<span class="penaltyShootout fontFigures">{{team.penaltyShootout}}6</span>
