<div class="liveMatchScoreboard {{status}}">
    <header>
        <div class="home cards">
            <span class="card yellow">{{home.cards.yellow}}</span>
            <span class="card red">{{home.cards.red}}</span>
        </div>
        <div class="time">
            <a href="/matches/{{id}}/">VOIR</a>
            {{liveMatchTime this}}
        </div>
        <div class="away cards">
            <span class="card yellow">{{away.cards.yellow}}</span>
            <span class="card red">{{away.cards.red}}</span>
        </div>
    </header>
    <div class="content">
        <div class="team home">
            <a href="/teams/{{home.id}}">
                <p><img src="/data/teams/logos/{{home.id}}.png" alt="{{home.name}}" class="logo"></p>
                <p><span class="name">{{home.name}}</span></p>
            </a>
        </div>
        <div class="score fontFigures">

            {{#ifEquals status 'EMNCO'}}
                <p class="versus">VS</p>
            {{else}}
                <p class="goals">
                    <span class="home">{{home.goals}}</span>
                    <span class="away">{{away.goals}}</span>
                </p>
            {{/ifEquals}}
            {{!--<p class="penaltyShootouts">
                <span class="home">8</span>
                <span class="away">7</span>
            </p>--}}
            {{#ifEquals status 'EMENC'}}
                <p><a href="/matches/{{id}}/" class="button live">
                    {{t 'live.button' 'app.scoreboard.liveMatch' 'LIVE'}}
                </a></p>
            {{/ifEquals}}
            {{#ifEquals status 'EMFIN'}}
                <p><a href="/matches/{{id}}/" class="button">
                    {{t 'past.button' 'app.scoreboard.liveMatch' 'Résumé'}}
                </a></p>
            {{/ifEquals}}

        </div>
        <div class="team away">
            <a href="/teams/{{away.id}}/">
                <p><img src="/data/teams/logos/{{away.id}}.png" alt="{{away.name}}" class="logo"></p>
                <p><span class="name">{{away.name}}</span></p>
            </a>
        </div>
    </div>
    <footer>
        <a href="/competitions/{{competition}}">{{competitionName competition}}</a>
    </footer>
</div>