<div class="tab" id="infos">
    <div class="infosWrapper">
        {{#if periods}}
        <div class="periods">
            <h3>{{t 'periods.title' 'app.match.infos' 'Périodes'}}</h3>
            <table class="periods">
                <thead>
                <tr>
                    <th>
                        {{t 'periods.table.header.period' 'app.match.infos' 'Période'}}
                    </th>
                    <th class="center">
                        {{t 'periods.table.header.duration' 'app.match.infos' 'Durée'}}
                    </th>
                    <th class="center">
                        {{t 'periods.table.header.score' 'app.match.infos' 'Période'}}
                    </th>
                </tr>
                </thead>
                <tbody>
                {{#each periods}}
                    <tr class="period">
                        <td>{{t code 'const'}}</td>
                        <td class="center fontFigures">{{time}}'</td>
                        <td class="center goals">
                            <span class="home">{{home}}</span>
                            <span class="away">{{away}}</span>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        {{/if}}
        {{#if referees}}
            <div class="referees">
                <h3>{{t 'referees.title' 'app.match.infos' 'Arbitres'}}</h3>
                <ul class="refereesWrapper">
                    {{#each referees}}
                        <li class="referee">
                            {{countryInline country}}
                            <span class="name">{{name}}</span>
                            <span class="role">{{t role 'const'}}</span>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
        <div class="stadium">
            <h3>{{t 'stadium.title' 'app.match.infos' 'Stade'}}</h3>
            <div class="stadiumFile">
                <p class="name">{{stadium.name}}</p>
                <p class="city">{{stadium.city}}</p>
                {{countryBlock stadium.country}}
            </div>
        </div>
    </div>
</div>
