<div class="tab feed active" id="events">

    {{#if hasComments}}
    <button id="toggleComments"
            data-state="on"
            data-message-on="Masquer les commentaires"
            data-message-off="Afficher les commentaires">
        Masquer les commentaires
    </button>
    {{/if}}
    <div class="eventsWrapper">
        {{#each events}}
            <div class="row {{side}}">
                {{#if group}}
                    <div class="group {{ group }}">
                        {{#each comments}}
                            {{> matchComment}}
                        {{/each}}
                    </div>
                {{else}}
                    <div class="event {{side}} {{#if comment}}withComment{{/if}}">
                        <p>
                            <span class="time fontFigures">{{time}}'</span>
                                <span class="players">
                                    {{#each players}}
                                        <span class="player">{{name}}</span>
                                    {{/each}}
                                </span>
                            {{#if type}}
                                <img class="type" src="/img/icons/{{type}}.png" height="60"/>
                            {{/if}}
                        </p>
                        {{#with comment }}
                            {{> matchComment}}
                        {{/with}}
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>