<div class="tab" id="infos">
    <div class="infosWrapper">
        {{#if referees}}
            <div class="referees">
                <h3>Arbitres</h3>
                <div class="refereesWrapper">
                    {{#each referees}}
                        <div class="referee">
                            <p class="name">{{name}}</p>
                            {{countryBlock country}}
                            <p class="role">{{t role 'const'}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/if}}
        <div class="stadium">
            <h3>Stade</h3>
            <div class="stadiumFile">
                <p class="name">{{stadium.name}}</p>
                <p class="city">{{stadium.city}}</p>
                {{countryBlock stadium.country}}
            </div>
        </div>

    </div>
</div>
