<a class="pastMatch" href="/matches/{{id}}">
    <span class="card yellow">{{home.cards.yellow}}</span>
    <span class="card red">{{home.cards.red}}</span>
    <span class="home">{{home.name}}</span>
    <span class="homeGoals">{{home.goals}}</span>
    <span class="awayGoals">{{away.goals}}</span>
    <span class="away">{{away.name}}</span>
    <span class="card red">{{away.cards.red}}</span>
    <span class="card yellow">{{away.cards.yellow}}</span>
</a>