<a class="pastMatch" href="/matches/{{id}}/">
    <div class="home">
        <span class="cards fontFigures">
            {{#if home.cards.yellow}}
                <span class="card yellow">{{home.cards.yellow}}</span>
            {{/if}}
            {{#if home.cards.red}}
                <span class="card red">{{home.cards.red}}</span>
            {{/if}}
        </span>
        <span class="name">{{home.name}}</span>
        <span class="goals fontFigures {{#if home.winner}}winner{{/if}}">{{home.goals}}</span>
    </div>
    <div class="away">
        <span class="goals fontFigures {{#if away.winner}}winner{{/if}}">{{away.goals}}</span>
        <span class="name">{{away.name}}</span>
        <span class="cards fontFigures">
            {{#if away.cards.yellow}}
                <span class="card yellow">{{away.cards.yellow}}</span>
            {{/if}}
            {{#if away.cards.red}}
                <span class="card red">{{away.cards.red}}</span>
            {{/if}}
        </span>
    </div>
</a>