<div class="{{side}} {{#if penaltyShootoutScore}}withPenaltyShootout{{/if}} {{#if winner}}winner{{/if}}">
    <span class="goals fontFigures">
        {{goals}}
    </span>
    <span class="penaltyShootout fontFigures">
        {{penaltyShootoutScore}}
    </span>
    <span class="name">{{name}}</span>
        <span class="cards fontFigures">
            {{#if cards.yellow}}
                <span class="card yellow">{{cards.yellow}}</span>
            {{/if}}
            {{#if cards.red}}
                <span class="card red">{{cards.red}}</span>
            {{/if}}
        </span>
</div>