<a class="pastMatch {{status}}" href="/matches/{{id}}/" data-match-id="{{id}}">
    {{> pastMatchTeam home side="home"}}
    {{#ifEquals status 'EMENC'}}
        <span class="time">{{liveMatchTime this}}</span>
    {{/ifEquals}}
    <span class="status">{{t status 'const'}}</span>
    {{> pastMatchTeam away side="away"}}
</a>