<table class="rankings">
    <thead>
    <tr>
        {{#each this.cols}}
            <th class="{{code}}">
                {{#if abbr}}
                    <abbr title="{{title}}">{{abbr}}</abbr>
                {{else}}
                    {{title}}
                {{/if}}
            </th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each this.rows as |row rowIndex|}}
        <tr>
            {{#each ../cols as |col colIndex|}}
                {{#ifEquals col.code "CCEQU"}}
                    <td class="teamName">{{teamCondensed row.teamId}}</td>
                {{else}}
                    <td class="{{col.code}}">{{lookup row col.code}}</td>
                {{/ifEquals}}
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>