<table class="rankings">
    <thead>
    <tr>
        {{#each this.cols}}
            <th class="{{code}}"><abbr title="{{title}}">{{abbr}}</abbr></th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each this.rows as |row rowIndex|}}
        <tr>
            {{#each ../cols as |col colIndex|}}
                {{#ifEquals col.code "CCEQU"}}
                    <td class="teamName">{{teamCondensed row.teamId}}</td>
                {{else}}
                    <td>{{lookup row col.code}}</td>
                {{/ifEquals}}
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>