<div class="teamPlayer">
    <svg class="jersey" data-name="jersey" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80.27 98.12">
        <path d="M90.13,37.28a2.21,2.21,0,0,1-.07-0.3c-0.21-2.3-.38-4.6-0.63-6.9-0.22-2-.5-4.06-0.81-6.08a51.4,51.4,0,0,0-1.56-7.14,11.09,11.09,0,0,0-4.73-6.27A28.77,28.77,0,0,0,77.5,8.14c-0.5-.2-1-0.41-1.5-0.59-2.17-.77-4.25-1.73-6.36-2.63-2.51-1.07-5-2.12-7.54-3.17a1.6,1.6,0,0,1-.28-0.15,7.26,7.26,0,0,1-1.37.77,5.56,5.56,0,0,1,0,1.39A7.53,7.53,0,0,1,57.18,9.1a10.75,10.75,0,0,1-4.36,1.82,14.31,14.31,0,0,1-6.59-.2,8.37,8.37,0,0,1-4.54-2.94A8.2,8.2,0,0,1,40,3.56c0-.31-0.05-0.63-0.08-1a8,8,0,0,1-1.71-.9L31.76,4.42c-1.68.71-3.35,1.43-5,2.13-0.41.17-.85,0.28-1.27,0.41a29.21,29.21,0,0,0-6.93,3.15A16.64,16.64,0,0,0,16.13,12a10.23,10.23,0,0,0-2.81,4.35A43.4,43.4,0,0,0,12,21.61c-0.53,2.76-.94,5.54-1.24,8.33-0.29,2.62-.5,5.25-0.75,7.88,0,0.27-.09.54-0.14,0.81v0.63a1.17,1.17,0,0,1,.14.23,1.93,1.93,0,0,0,.67.91,7.09,7.09,0,0,0,1,.67,11.27,11.27,0,0,0,4.52,1.25c1.52,0.09,3,.09,4.57.09a11.14,11.14,0,0,0,2.61-.31,3.93,3.93,0,0,0,1.27-.51,1.63,1.63,0,0,0,.79-1.41c0-.1,0-0.21,0-0.32q0.08-4.47.15-8.94c0-.11,0-0.22,0-0.32a0.77,0.77,0,0,1,.22.34c0.13,0.41.28,0.82,0.38,1.24a16,16,0,0,1,.33,3.72q0,28.1,0,56.2c0,0.12,0,.24,0,0.35a1.16,1.16,0,0,0,.33.9c0.27,0.27.53,0.55,0.81,0.8a12.67,12.67,0,0,0,2.86,1.78,28,28,0,0,0,6.43,2,55.27,55.27,0,0,0,9,1,85.36,85.36,0,0,0,10.19-.2,56.93,56.93,0,0,0,7.32-1,31.82,31.82,0,0,0,6.48-2,15.69,15.69,0,0,0,3.12-1.83,1.5,1.5,0,0,0,.62-1.32c0-6,0-12.05-.06-18.08q-0.07-19.3-.15-38.59c0-.69,0-1.39.08-2.08a7.37,7.37,0,0,1,.67-2.54c0-.09.1-0.17,0.15-0.25a1.18,1.18,0,0,1,.08.44q0.07,3.7.13,7.4c0,0.48,0,1,0,1.46a1,1,0,0,0,.63.92,18.74,18.74,0,0,0,1.9.65,21,21,0,0,0,9.14.13,6,6,0,0,0,2.06-.76,3.29,3.29,0,0,0,1.69-2.64,1.56,1.56,0,0,1,.07-0.26C90.13,38,90.13,37.62,90.13,37.28Z"
              transform="translate(-9.87 -0.89)"></path>
    </svg>
    <span class="number fontFigures">{{number}}</span>
    <div class="name"><a href="/players/{{id}}">{{name}}</a></div>
    {{#if faceshot}}
        <div class="faceshot">
            <img src="/data/players/{{id}}.jpg" width="150" height="200" alt="{{name}}">
        </div>
    {{/if}}
</div>