<div class="sub">
    <span class="number fontFigures">{{number}}</span>
    <a class="name" href="/players/{{id}}">{{name}}</a>
    {{#if faceshot}}
        <div class="faceshot">
            <img src="/data/players/{{id}}.jpg" width="150" height="200" alt="{{name}}">
        </div>
    {{/if}}
</div>