<a class="upcomingMatch" data-match-id="{{id}}" href="/matches/{{id}}/">
    {{#if home.id}}
        <div class="home">
            <span class="name">{{home.name}}</span>
        </div>
    {{else}}
        <span class="home unknown"></span>
    {{/if}}
    <span class="time fontFigures">{{relativeTime date}}</span>
    {{#if away.id}}
        <div class="away"><span class="name">{{away.name}}</span></div>
    {{else}}
        <span class="away unknown"></span>
    {{/if}}
</a>